#!/bin/bash
# SPDX-License-Identifier: MIT

set -euox pipefail

mkdir -vp ${HOME}/{{ __pkmaint_pkgsdirname }}
rm -vf ${HOME}/{{ __pkmaint_pkgsdirname }}/*.rpm

pushd ${HOME}/rpmbuild/SPECS
{% for pkg in pkmaint_subjects %}
rpmbuild -bs {{ pkg.name }}.spec
{% endfor %}
popd

pushd ${HOME}/rpmbuild/SRPMS
{% for pkg in pkmaint_subjects %}
mock -N -r {{ pkmaint_mock_config }} --resultdir=${HOME}/rpmbuild/RPMS \
  --rebuild "{{ pkg.name }}-{{ pkg.version }}-{{ pkg.release
    }}$(rpm --eval '%{?dist}').src.rpm"
mv -vf ${HOME}/rpmbuild/RPMS/*.rpm ${HOME}/{{ __pkmaint_pkgsdirname }}
{% endfor %}
popd
