config_opts['basedir'] = '/var/lib/mock'
config_opts['extra_chroot_dirs'] = [ '/run/lock', ]
config_opts['rpmbuild_networking'] = False
config_opts['rpmbuild_timeout'] = 86400
config_opts['use_host_resolv'] = False

{% if 'config_opts' in item %}
{% if 'chroot_setup_cmd' in item.config_opts %}
config_opts['chroot_setup_cmd'] = '{{ item.config_opts.chroot_setup_cmd }}'
{% endif %}
{% if 'root' in item.config_opts %}
config_opts['root'] = '{{ item.config_opts.root }}'
{% endif %}
{% if 'target_arch' in item.config_opts %}
config_opts['target_arch'] = '{{ item.config_opts.target_arch }}'
{% endif %}
{% if 'dist' in item.config_opts %}
config_opts['dist'] = '{{ item.config_opts.dist }}'
{% endif %}
{% if 'releasever' in item.config_opts %}
config_opts['releasever'] = '{{ item.config_opts.releasever }}'
{% endif %}
{% endif %}

{% if 'config_opts' in item and 'package_manager' in item.config_opts %}
config_opts['package_manager'] = '{{ item.config_opts.package_manager }}'
{% else %}
config_opts['package_manager'] = 'dnf'
{% endif %}

{% if 'package_manager_conf' in item %}
config_opts['{{ item.package_manager_conf }}'] = """
{% else %}
config_opts['dnf.conf'] = """
{% endif %}
[main]
keepcache=1
cachedir=/var/cache/yum
debuglevel=2
logfile=/var/log/yum.log
reposdir=/dev/null
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=
install_weak_deps=0
metadata_expire=0
best=1
strict=1
{% if 'module_platform_id' in item %}
module_platform_id={{ item.module_platform_id }}
{% endif %}

# repos

{% if 'repos' in item %}
{% for repo in item.repos %}
[{{ repo.name }}]
name={{ repo.name }}
baseurl={{ repo.baseurl }}

{% endfor %}
{% endif %}
"""
